<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/styles/navbar.css">
        <link rel = "stylesheet" href="../static/styles/notification.css">
        <script src="../static/scripts/navbar.js" defer></script>
        <title>Grievance Portal</title>
    </head>

    <body>
        <nav class="navbar">
            <div class="logo">
                <img src="../static/images/Logo.png">
                <p1>Policy &nbsp</p1> <p2>Finder</p2>
            </div>
            <a href="#" class="toggle">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </a>
            <div class="navbar-links">
                <ul>
                    <li><a href="userHomeCenter.html">Home</a></li>
                    <li><a href="#">Support</a></li>
                    <li><a href="index.html">Logout</a></li>
                </ul>
            </div>
        </nav>
        <div class="row">
            <div class="col1">
            <H1>A new policy have arrived for you.</H1>
            <p>Policy Name Here <br></p><p>To check out more about this policy click on the button below</p>
            <button type="button" class="learnMore">Visit</button>
            </div>
        </div>
    </body>
</html>